# Maven
target/
*.class
*.log
*.ctxt
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# IDEs
.vscode/
.idea/
*.swp
*.swo
.settings/
.project
.classpath
.factorypath

# OS
Thumbs.db
.DS_Store

# Misc
.env
*.tmp
*.bak
node_modules/
